*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  background-color: #f0f0f0;
}
body {

  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.btn {
  background-color: white;
  border: 1px solid #cccccc;
  color: #696969;
  padding: 0.5rem;
}
.btn-block {
  display: block;
  width: 100%;
}
.restaurants {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.card-item {
  display: flex;
  padding: 1rem;
}
@media (min-width: 40rem) {
  .card-item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .card-item {
    width: 33.3333%;
  }
}
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}
.card-media {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;

  overflow: hidden;
  position: relative;
  min-width: 20rem;
  min-height: 10rem;
  max-width: 160rem;
  max-height: 90rem;

}
.card-media::before {
  content: "";
  display: flex;

}


.card-title {
  font-size: 1.25rem;
}
.card-text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  color: #696969;
  font-weight: 300;
  text-transform: uppercase;
}

.meta-left {
  grid-area: left;
}

.meta-right {
  grid-area: right;
}

.text-container {
  display: grid;
  grid-template-columns: 40% auto 40%;
  grid-template-areas: "left center right"
}

.dd-container {
  display: grid;
  grid-template-columns: 10% 12% 10% 10% auto 10%;
  grid-template-areas: "filter open dd1 dd2 space button"
}

.dd-filter {
  grid-area: filter;
}
.dd-open {
  grid-area: open;
}
.dd-dd1 {
  grid-area: dd1;
}
.dd-dd2 {
  grid-area: dd2;
}
.dd-button {
  grid-area: button;
}

