*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  background-color: white;
}
body {

  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

nav {
  position: absolute;
}

.btn-block {
  display: block;
  width: 100%;
}

.brick{
  display: block;
  width: 100%;
  padding: 1em auto;
}

.load-more{
  display: block;
  border: 1px solid #002B56;
  margin: 1em auto;
  padding: .75em 1em;
  font-size: 1em;
  background-color: white;
  color: #002B56;
  font-weight: 400;
  cursor: pointer;
  border-radius: 2px;

}

.restaurants {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
}
.card-item {
  display: flex;
  padding: 1rem;
  max-width: 312px;
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  word-wrap: break-word;
  white-space: initial;
}

.card-media {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  overflow: hidden;
  position: static;

  width: 312px;
  height: 175px;

}

.card-content {
  display: grid;
  height: 60%;
  width: 100%; 

  padding: 1rem;
  grid-template-rows: 28% 12% auto 17%; 
  grid-template-areas: "title" "rating" "meta" "button"
}

.card-title {
  font-size: 1.25rem;
  word-wrap: break-word;
  white-space: initial;
  grid-area: title;
}

.card-rating {
  grid-area: rating;
}

.card-button {
  grid-area: button;
  background-color: #002B56;
  border: 1px solid #002B56;
  padding: 0.5rem;
  border-radius: 2px;
}


.card-text {
  font-size: 0.618rem;
  line-height: 1.5;
  margin-top: 0.5rem;
  color: #696969;
  font-weight: 300;
  text-transform: uppercase;
  grid-area: meta;
}

.meta-left {
  grid-area: left;
}

.meta-right {
  grid-area: right;
  justify-self: end;
}
.meta-center {
  grid-area: center;
}

.text-container {
  display: grid;
  grid-template-columns: 40% auto 40%;
  grid-template-areas: "left center right"
}

.dd-container {
  display: grid;
  height: 100%;
  justify-self: center;
  /* overflow: hidden; */
  grid-template-columns: 8% 14% 12% 18% auto 10%;
  grid-template-areas: "filter open dd1 dd2 space button"
}

.dd-filter {
  grid-area: filter;
}
.dd-open {
  grid-area: open;
}
.dd-dd1 {
  grid-area: dd1;
}
.dd-dd2 {
  grid-area: dd2;
}
.dd-button {
  grid-area: button;
}

.dd-button:disabled{
  display: block;
  border: 1px solid #E6E6E6;
  margin: 1em auto;
  padding: 0.5rem;
  font-size: 1em;
  background-color: white;
  color: #C8C8C8;
  font-weight: 400;
  cursor: pointer;
  border-radius: 0px;
}

.dd-button:enabled{
  display: block;
  border: 1px solid #002B56;
  margin: 1em auto;
  padding: 0.5rem;
  font-size: 1em;
  background-color: white;
  color: #002B56;
  font-weight: 400;
  cursor: pointer;
  border-radius: 2px;
}

.dd-container-wrapper {
  width: 100%;
  height: 1rem;
  margin: 10px;
  position: relative;
}

.dd-list, .dd-header-title .dd-header {
  width: 95%;
  height: 100%;
  position: relative;

}

.dd-list{
  z-index: 40;
  margin: 10px 0px;
  background-color: white;
  display:block;
  overflow: visible;
  text-overflow: ellipsis;
  height: 100%;
  padding: 5px; 
  border: 1px solid #002B56;
}

